body {
  color: black;
}

h1 {
  font-family: Verdana, Helvetica, sans-serif;
}

h2 {
  font-family: Verdana, Helvetica, sans-serif;
}

h3 {
  font-family: Verdana, Helvetica, sans-serif;
}

.date {
  font-style: italic;
}